<?xml version="1.0" encoding="UTF-8"?>
<!--Instructions: https://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy-->
<configuration>

    <property name="log.base" value="logs" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}/cordova-pinpad-plugin.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{MM/dd/yyyy HH:mm:ss.SSSZ} [%-5level] %logger{35} - %msg%n
            </pattern>
        </encoder>

        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${log.base}/cordova-pinpad-plugin.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1KB</maxFileSize>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <!--<totalSizeCap>20GB</totalSizeCap><maxFileSize>20MB</maxFileSize>-->
            <!--	The optional maxHistory property controls the maximum number of archive files to keep, asynchronously deleting older files. For example, if you specify monthly rollover, and set maxHistory to 6, then 6 months worth of archives files will be kept with files older than 6 months deleted. Note as old archived log files are removed, any folders which were created for the purpose of log file archiving will be removed as appropriate.-->
            <maxHistory>60</maxHistory>
            <totalSizeCap>30</totalSizeCap>
        </rollingPolicy>

    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="slf4jmain" level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </logger>

</configuration>